.button {
    border-radius: 5px;
    color: white;
    padding: 13px 23px 14px 23px;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-bold);
}


.buttonStyle {
    background: var(--color-blue-faded) 0% 0% no-repeat padding-box;
    border: 1px solid var(--color-blue-light);
}

.buttonStyle:focus {
    background-color: var(--color-blue-faded) 0% 0% no-repeat padding-box;
}

.buttonStyleSecondary {
    background: var(--color-blue-light) 0% 0% no-repeat padding-box;
    border: 1px solid var(--color-blue-light);
}

.buttonStyleSecondary:focus {
    background: var(--color-blue-light) 0% 0% no-repeat padding-box;
}