.JobDashboardContainer {
    padding: 83px 173px 0px 173px;
}

.JobDashboardContainer::before {
    width: 100vw;
    height: 30vh;
}

.JobDashboardContent {
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: relative;
}

.JobDashboardContent > h6 {
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.8;
    font-size: var(--font-size-12);
}

.JobDashboardContent > h3 {
    text-align: left;
    font: normal normal medium 22px/27px Helvetica Neue;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-size: var(--font-size-22);
    font-weight: var(--font-weight-regular);
    letter-spacing: 0.06em;
}

.JobsContainer {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 18px;
}

.jobCard {
    min-width: 260px;
    height: 170px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px var(--color-grey);
    border-radius: 5px;
    padding: 15px;
}

.jobCard > h4 {
    font-size: var(--font-size-16);
    text-align: left;
    letter-spacing: 0px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: var(--font-weight-bold);
    margin-bottom: 10px !important;
}

.jobCard > p {
    font-size: var(--font-size-14);
    text-align: left;
    letter-spacing: 0px;
    opacity: 0.8;
    min-height: 60px;
}

.truncate-overflow {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }

.jobCardFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.jobLocationContainer {
    font-size: var(--font-size-14);
    text-align: left;
    letter-spacing: 0px;
    font-weight: var(--font-weight-bold);
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.viewApplicationButton {
    background: var(--color-blue-faded) 0% 0% no-repeat padding-box;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-bold);
    letter-spacing: 0px;
    text-transform: capitalize;
    border: none;
    height: 32px;
    min-width: 125px;
    cursor: pointer;
}

.pagination li.active {
    background-color: var(--color-blue-light);
}

.paginationul {
    position: absolute;
    bottom: 0;
    left: 45%;
}

.noJobContainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.noJobContainer > h6 {
    text-align: center;
    letter-spacing: 0px;
    opacity: 0.8;
    font-size: var(--font-size-22);
    font-weight: var(--font-weight-regular);
    margin-bottom: 40px !important;
}

.postJobButton {
    width: 148px;
    height: 46px;
    color: white;
    font-size: var(--font-size-16);
    background: var(--color-blue-light) 0% 0% no-repeat padding-box;
    border: 1px solid var(--color-blue-light);
    border-radius: 5px;
}