.navbar {
    background: none;
    border-bottom: 1px solid var(--color-blue-semi);
    height: 70px;
    position: absolute;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: var(--font-size-22);
    font-weight: var(--font-weight-bold);
}

.logoStyle {
    color: var(--color-blue-light)
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    
    border-top: 8px solid #fff;
    cursor: pointer;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    
    border-bottom: 10px solid rgb(255, 255, 255);
    position: absolute;
    top: -7px;
    right: 8px;
  }

.dropdownContainer {
    height: 100%;
    margin: 31px 0px;
    position: relative;
}

.dropdown {
    width: 112px;
    height: 47px;
    position: absolute;
    top: 40px;
    right: -10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    text-align: left;
    letter-spacing: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    font-size: var(--font-size-14);
    cursor: pointer;
}

.dropdownItem {
    padding-left: 12px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--color-blue-semi-dark);
}

.dropdownItem:hover {
    background: rgba(0, 0, 0, 0.055);
}

.activeNavTab {
    position: relative;
}

.activeNavTab::after {
    content: '';
    display: block;
    left: 20px;
    height: 5px;
    width: 60%;
    background: var(--color-blue-light);
    position: absolute;
}