.navbar {
    background: none;
    border-bottom: 1px solid #4D618E;
    height: 70px;
    position: absolute;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: var(--font-size-22);
    font-weight: var(--font-weight-bold);
}

.logoStyle {
    color: var(--color-blue-light)
}