.App {
  text-align: center;
}

.navContainer {
  position: relative;
  margin: 0px 70px;
}

.pagesMainContainer {
  height: 100vh;
  padding: 160px 441px 313px 442px;
  overflow: hidden;
  position: relative;
  background: linear-gradient(0deg, #EDF6FF 0%, #EDF6FF 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagesMainContainer::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 50vh;
  top: 0%;
  left: 0%;
  background-position: top;
  background-repeat: no-repeat;
  background-image: linear-gradient(248deg, #303F60 0%, #1A253C 100%);
}

:root {
  --background-blue: transparent linear-gradient(248deg, #303F60 0%, #1A253C 100%) 0% 0% no-repeat padding-box;
  --background-grey: #EDF6FF 0% 0% no-repeat padding-box;
  --font-weight-light: 400;
  --font-weight-regular: 500;
  --font-weight-bold: 600;
  --color-blue-semi: #4D618E;
  --color-blue-semi-dark: #303F60;
  --color-blue-dark: #1A253C;
  --color-light-grey: #EDF6FF;
  --color-blue-light: #43AFFF;
  --color-blue-faded: #43AFFF33;
  --color-grey: #557DA526;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-22: 22px;
  --font-size-14: 14px;
  --font-size-60: 60px;
  --line-spacing-74: 74;
  --line-spacing-27: 27;
  --line-spacing-20: 20;
  --line-spacing-19: 19;
}