
.forgotPassowordContainer {
    z-index: 1000;
    position: absolute;
    width: 557px;
    height: 318px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 30px 36px var(--color-grey);
    border-radius: 20px;
    padding: 30px;
    text-align: left;
}


.resetPasswordContainer {
    z-index: 1000;
    position: absolute;
    height: 408px;
    width: 557px;
    position: absolute;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 30px 36px var(--color-grey);
    border-radius: 20px;
    padding: 30px;
    text-align: left;
}

.forgotPassowordContainer > h3, .resetPasswordContainer > h3 {
    font-size: var(--font-size-22);
    font-weight: var(--font-weight-bold);
    margin-bottom: 20px !important;
    display: block;
}

.forgotPassowordContainer > p, .resetPasswordContainer > p {
    font-size: var(--font-size-14);
}

.signupButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
